---
import { Image } from "astro:assets";
import SiteLayout from "../layouts/SiteLayout.astro";
import logo from '../assets/logo.min.png';
---

<style>
  .main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
</style>

<SiteLayout>
  <div class="main">
    <Image
      loading="eager"
      src={logo}
      width="240"
      height="240"
      alt="Picoo Studio Logo"
    />
  </div>
</SiteLayout>
