---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout>
	<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
		<img
			src="/assets/logo.png"
			width="240"
			height="240"
			alt="Picoo Studio Logo"
		/>
	</div>
</SiteLayout>
