---
import SiteLayout from "../../layouts/SiteLayout.astro";

const downloadURL = `itms-services://?action=download-manifest&url=https://cdn.picoo.studio/releases/download/v0.0.47/manifest.plist`;
---

<style>
  .main {
    
  }
</style>
<SiteLayout>
  <div class="main">
    <h1>Resources</h1>
  </div>
</SiteLayout>
