---
import { ClientRouter } from "astro:transitions";
import GoogleTagmanager from "./GoogleTagmanager.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? "Picoo Studio"}</title>
    <link rel="icon" href="/assets/logo.192x192.png" type="image/png" />
    <meta
      name="description"
      content="Welcome to Picoo Studio, your go-to destination for creative and innovative solutions."
    />
    <meta
      name="keywords"
      content="Picoo Studio, creative, innovative, solutions, design, development"
    />
    <meta name="author" content="Picoo Studio Team" />
    <meta name="language" content="English" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: "Poppins", sans-serif;
        display: flex;
        flex-direction: column;
        min-height: 100dvh;
        color: rgb(200, 200, 200);
        background-color: rgb(19, 32, 43);
      }

      nav {
        padding: 10px 16px;
        display: flex;
        justify-content: center;
        gap: 20px;
      }

      nav a {
        text-decoration: none;
        color: rgb(200, 200, 200);
        font-size: 1.2em;
        transition: color 0.3s;
      }

      nav a:hover {
        color: rgb(255, 255, 255);
      }

      main {
        flex: 1; /* 主内容区域自动填充剩余空间 */
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 16px;
      }

      .logo {
        margin-bottom: 20px;
      }

      footer {
        padding: 10px 20px;
        text-align: center;
        color: rgb(150, 150, 150);
        background-color: rgb(29, 42, 53);
        font-size: 0.9em;
      }

      footer a {
        color: rgb(200, 200, 200);
        text-decoration: none;
      }
      @media screen and (min-width: 600px) {
        nav,
        main {
          width: 900px;
          margin: 0 auto;
          justify-content: flex-start;
        }
      }

      footer a:hover {
        text-decoration: underline;
      }
    </style>
    <GoogleTagmanager id="GTM-5RVXBSHZ" />
  </head>

  <body>
    <header>
      <nav>
        <a href="/" data-astro-reload>Home</a>
        <a href="/projects/" data-astro-history="auto">Projects</a>
        <a href="/area/" data-astro-history="auto">Area</a>
        <a href="/inbox/" data-astro-history="auto">Inbox</a>
        <a href="/resources/" data-astro-history="auto"> Resources </a>
      </nav>
    </header>
    <main>
      <slot />
      <ClientRouter />
    </main>
    <footer>
      <p>
        <span>© 2025 Picoo Studio. All Rights Reserved.</span>
        <a href="https://beian.miit.gov.cn" target="_blank">
          沪ICP备2025124344号
        </a>
        |
        <a href="https://github.com/picoo-studio">GitHub</a>
      </p>
    </footer>
  </body>
</html>
